
*.exe

# Byte-compiled / optimized / DLL files
__pycache__/
utils/__pycache__/
internal/__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal

# If you are using Postgres or other DBs, ignore any dumps
*.sql
*.dump

# Django migrations (optional, if you auto-generate them and don't commit)
# **Usually you SHOULD commit migrations**, but if not:
# */migrations/*.py
# */migrations/*.pyc

# Media uploads (optional, if you don't store them in repo)
media/

# Static files (optional, if collected dynamically)
staticfiles/
static/

# Local settings (optional if you separate secrets)
local_settings.py

# Virtual environments
venv/
ENV/
env/
.venv/

# PyCharm / VSCode / Other IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Python env files
*.env
*.env.*

# Docker related
*.tar
*.bak

# coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# dotenv
.envrc
